html
  head
    title Test
    meta(charset="utf-8")
    link(rel="stylesheet", href="../build/build.css")
    script(src="../build/build.js")
    :stylus
      .component.accordion
        .header
          background #CCC

        .content
          background #AAA

  body
    //- .solitary.open.close.active
    .component.accordion.open
      .header
        .title title
      .content
        .text content

    .component.accordion.solitary
      .header
        .title title
      .content
        .text content

    script
      var Accordion = require('accordion');
      var $ = require('jquery')

      $(function () {
        $('.component.accordion').each(function (i, el) {
          window.accordion = new Accordion(el);
        });
      });
